{% extends "layout.html" %}
{% block content %}
   iPlan should become perfect combination of icloud-numbers flexibility + automation + snipes + myPlan + myMonth + myPath.
   <hr>
   All my thoughts and ideas are in ti. So it must be worth something.
   If not, see all solutions from market and take what worth it.
   Maybe as people (including Aga?) what they would like to have. Iwona surely will be interested.
   <hr>
   I will be a to-be solution for all people planning their lives => awa.
   <hr>
   <div class="text-primary">
      Ideas:
      <li>Use icons instead of test: delete => trashbin, update => pencil :))</li>
   </div>
   <hr>
     Make kind of tutorial:
   DO you have a task you want to complete - name it!
   When do you want ot make it? (selectfield from timeline)
   Is this task a part of bigger concept (like - increace income by 20% or find need wife?)
   If no, then make it GENERAL
   If yes, than make it to create strategy.


{% endblock content %}
