{% extends "layout.html" %}
{% block content %}
<div class="container">
   <div class="content-section">
       Your Projects:
        {% for item in projects %}
        <div class="row m-0">
            <div class="col-4 rounded-left mt-1 mb-1" style="background-color:{{item.color}}">
                {{item.name}}
            </div>
            <div class="col border rounded-right mt-1 mb-1">
                <div class="row p-0">
                    <div class="col">
                        <small>id={{item.id}}</small>
                    </div>
                    <div class="col-auto ml-auto">
                        <a href="{{url_for('iplan.project_update', id_project=item.id)}}" class="badge badge-secondary">Update</a>
                        {% if count_tasks[item.id] %}
                            <a href="{{url_for('iplan.project_delete', id_project=item.id)}}" class="badge badge-danger">Delete ({{count_tasks[item.id]}})</a>
                        {% else %}
                            <a href="{{url_for('iplan.project_delete', id_project=item.id)}}" class="badge badge-warning">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

   <div class="content-section">
        {% for item in projects %}
        <div class="row m-0">
            <div class="col border rounded-right mt-1 mb-1">
                <div class="row p-0">
                    <div class="col-auto">
                        <small class="text-muted">{{item}}</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
