{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <!-- action="" means that if we post the form (click submit) it will go to same route, will not move us fr new page -->
        <form method="POST" action="">
        {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom  mb-4">{{legend}}</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-sm", placeholder='Strategy') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.symbol.label(class="form-control-label") }}
                    {% if form.symbol.errors %}
                        {{ form.symbol(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.symbol.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.symbol(class="form-control form-control-sm", placeholder='ABC') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.desc.label(class="form-control-label") }}
                    {% if form.desc.errors %}
                        {{ form.desc(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.desc.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.desc(class="form-control form-control-sm", placeholder='Description') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.color.label(class="form-control-label") }}
                    {% if form.color.errors %}
                        {{ form.color(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.color.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.color(class="form-control form-control-sm", placeholder='#color') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.order.label(class="form-control-label") }}
                    {% if form.order.errors %}
                        {{ form.order(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.order.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.order(class="form-control form-control-sm", placeholder=999) }}
                    {% endif %}
                </div>
            </fieldset>
            <!-- submit button-->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
