{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="content-section">
       List of tasks:
        {% for task in tasks %}
        <div class="row">
            <div class="col-6 rounded-left mt-1 mb-1" style="background-color:{{task.strategy.color}}">
                <div class="row p-0">
                    <div class="col-auto">
                        <small>{{task.name}}</small>
                    </div>
                    <div class="col-auto ml-auto">
                        {% if task.timer_start %}
                            <a href="{{url_for('iplan.task_timer_start', id_task=task.id) }}" class="badge badge-light">Reset</a>
                            <a href="{{url_for('iplan.task_timer_end', id_task=task.id) }}" class="badge badge-danger">Stop</a>
                        {% else %}
                            <a href="{{url_for('iplan.task_timer_start', id_task=task.id) }}" class="badge badge-light">Start</a>
                            {% if task.time_completion %}
                                <a href="{{url_for('iplan.task_restore', id_task=task.id)}}" class="badge badge-primary">Restore</a>
                            {% else %}
                                {% if task.frequency == 'OneTime' %}
                                    <a href="{{url_for('iplan.task_complete', id_task=task.id)}}" class="badge badge-success">Done</a>
                                {% else %}
                                    <a href="{{url_for('iplan.task_complete', id_task=task.id)}}" class="badge badge-success">Done+</a>
                                {% endif %}
                            {% endif %}
                        {% endif%}
                    </div>
                </div>
            </div>
            <div class="col border rounded-right mt-1 mb-1">
                <div class="row p-0">
                    <div class="col-auto">
                        <small>id{{task.id}}</small>
                        {% if task.timer_start %}
                        <small class="badge badge-warning">{{string_from_duration(now - task.timer_start)}}</small>
                        {% endif %}
                        <small class="badge badge-info">{{string_from_duration(task.duration_real)}}</small>
                        <small class="badge badge-light">{{string_from_duration(task.duration_plan)}}</small>
                        {{task.order}}
                    </div>
                    <div class="col-auto ml-auto">
                        <a href="{{url_for('iplan.task_update', id_task=task.id) }}" class="badge badge-secondary">Update</a>
                        <a href="{{url_for('iplan.task_move', id_task=task.id, direction='up')}}" class="badge badge-dark">Up</a>
                        <a href="{{url_for('iplan.task_move', id_task=task.id, direction='top') }}" class="badge badge-dark">Top</a>
                        <br>
                        <a href="{{url_for('iplan.task_delete', id_task=task.id) }}" class="badge badge-danger">Delete</a>
                        <a href="{{url_for('iplan.task_move', id_task=task.id, direction='down') }}" class="badge badge-dark">Down</a>
                        <a href="{{url_for('iplan.task_move', id_task=task.id, direction='bottom') }}" class="badge badge-dark">Bottom</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="content-section">
        {% for item in sum_duration.items() %}
        <div class="row">
            <div class="col border rounded-right mt-1 mb-1">
                <div class="row p-0">
                    <div class="col-auto">
                        <small class="text-muted">{{item[0]}}: {{ string_from_duration(item[1]) }}</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

   <div class="content-section">
        {% for task in tasks %}
        <div class="row">
            <div class="col border rounded-right mt-1 mb-1">
                <div class="row p-0">
                    <div class="col-auto">
                        <small class="text-muted">{{ task }} <> {{ task.strategy }}</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

