{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row content-section">
        {% for timeline in timeline_ranges()%}
        <div class="col-md-4 border p-1 rounded">
            <div class="col-12 border timeline_task_border rounded p-0">
                <small class="timeline_header ml-1">{{ timeline[2] }} </small>
                <small class="timeline_header text-muted">({{fromtimestamp(timeline[0]).strftime('%d.%m %H:%M')}} - {{fromtimestamp(timeline[1]).strftime('%d.%m %H:%M')}})</small>
                {% for task in tasks %}
                    {% if task.time_line >= fromtimestamp(timeline[0]) and task.time_line < fromtimestamp(timeline[1]) %}
                        <!-- Name -->
                         <div class="row rounded-top border border-bottom-0 border-secondary timeline_task_name pl-1 pb-1 ml-1 mr-1" style="background-color:{{task.strategy.color}}">
                            {{task.name}}
                        </div>
                        <!-- Buttons -->
                        <div class="row rounded-bottom border border-top-0 border-secondary timeline_task_buttons mb-1 ml-1 mr-1" style="background-color:{{task.strategy.color}}">
                                {% if task.timer_start %}
                                    <a href="{{url_for('iplan.task_timer_start', id_task=task.id) }}" class="badge badge-light">Reset</a>
                                    <a href="{{url_for('iplan.task_timer_end', id_task=task.id) }}" class="badge badge-danger">Stop</a>
                                {% else %}
                                    <a href="{{url_for('iplan.task_timer_start', id_task=task.id) }}" class="badge badge-light">Start</a>
                                    {% if task.time_completion %}
                                        <a href="{{url_for('iplan.task_restore', id_task=task.id)}}" class="badge badge-primary">Restore</a>
                                    {% else %}
                                        {% if task.frequency == 'OneTime' %}
                                            <a href="{{url_for('iplan.task_complete', id_task=task.id)}}" class="badge badge-success">Done</a>
                                        {% else %}
                                            <a href="{{url_for('iplan.task_complete', id_task=task.id)}}" class="badge badge-success">Done+</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif%}
                                {% if task.timer_start %}
                                    <a href="#" class="badge badge-warning">{{string_from_duration(now - task.timer_start)}}</a>
                                {% endif %}
                                <a href="#" class="badge badge-info">{{string_from_duration(task.duration_real)}}</a>
                                <a href="#" class="badge badge-light">{{string_from_duration(task.duration_plan)}}</a>
<!--                                <small class="timeline_header text-muted ml-auto">({{task.time_line.strftime('%dd%H:%M')}})</small>-->
                                <a href="{{url_for('iplan.task_update', id_task=task.id) }}" class="badge badge-secondary ml-auto">Edit</a>
                                <a href="{{url_for('iplan.task_move', id_task=task.id, direction='top')}}" class="badge badge-secondary">top</a>
                                <a href="{{url_for('iplan.task_move', id_task=task.id, direction='up')}}" class="badge badge-secondary">up</a>
                                <a href="{{url_for('iplan.task_move', id_task=task.id, direction='down')}}" class="badge badge-secondary">dn</a>
                                <a href="{{url_for('iplan.task_move', id_task=task.id, direction='bottom')}}" class="badge badge-secondary">bot</a>
                                <a href="{{url_for('iplan.task_move_timeline', id_task=task.id, direction='previous') }}" class="badge badge-secondary"><</a>
                                <a href="{{url_for('iplan.task_move_timeline', id_task=task.id, direction='next') }}" class="badge badge-secondary">></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
