{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row content-section">
        <div class="col-md-12 border p-1 rounded mb-1 ">
            <a  href="{{url_for('iplan.show_menu_all', state='on') }}" class="btn btn-secondary btn-sm" role="button">Menu On</a>
            <a  href="{{url_for('iplan.show_menu_all', state='off') }}" class="btn btn-secondary btn-sm" role="button">Menu Off</a>
            {% for strategy in strategies %}
                {% if count_tasks[strategy.id] > 0%}
                    {% if strategy.show_timeline %}
                        <a  href="{{url_for('iplan.show_strategy_timeline', id_strategy=strategy.id) }}" class="btn btn-sm" style="background-color:{{strategy.color}}" role="button">{{strategy.symbol}} ({{count_tasks[strategy.id]}})</a>
                    {% else %}
                        <a  href="{{url_for('iplan.show_strategy_timeline', id_strategy=strategy.id) }}" class="btn btn-light btn-sm" role="button">{{strategy.symbol}} ({{count_tasks[strategy.id]}})</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        {% for timeline in TimeLine.categories %}
        <div class="col-md-4 border p-1 rounded">
            <div class="col-12 border timeline_task_border rounded p-0">
                <small class="timeline_header ml-1">{{ timeline }} </small>
                <small class="timeline_header text-muted">XYZ</small>
                <a href="{{ url_for('iplan.task_create', timeline_category=timeline) }}"><small class="timeline_header text-primary">New Task</small></a>
                {% for task in tasks %}
                    {% if task.time_line == timeline and task.strategy.show_timeline %}
                        <!-- Name -->
                        {% if task.show_menu == False %}
                            <div class="row rounded border border border-secondary timeline_task_name pl-1  mb-1 ml-1 mr-1" style="background-color:{{task.strategy.color}}">
                                {% if TimeLine.progress_indicator(task.time_creation, timeline)[0] %}
                                    <div class="col text-truncate p-0 m-0 mr-1">
                                        <a href="{{url_for('iplan.show_menu', id_task=task.id, state='on') }}" class="show_menu_links" title="{{task.name}}">{{task.name}}</a>
                                    </div>
                                    <div class="col-auto p-0 m-0 text-right">
                                        {% if TimeLine.duedate_indicator(task.time_due)[0] %}
                                            <small class="{{TimeLine.duedate_indicator(task.time_due)[1]}} m-0 progress_indicator">{{TimeLine.duedate_indicator(task.time_due)[0]}}</small>
                                        {% endif %}
                                        <small class="{{TimeLine.progress_indicator(task.time_creation, timeline)[1]}} mr-1 progress_indicator badge-pill">{{TimeLine.progress_indicator(task.time_creation, timeline)[0]}}</small>
                                    </div>
                                {% else %}
                                    <div class="col text-truncate p-0 m-0 mr-1">
                                        <a href="{{url_for('iplan.show_menu', id_task=task.id, state='on') }}" class="show_menu_links" title="{{task.name}}">{{task.name}}</a>
                                    </div>
                                    {% if TimeLine.duedate_indicator(task.time_due)[0] %}
                                        <div class="col-auto p-0 m-0 text-right">
                                            <small class="{{TimeLine.duedate_indicator(task.time_due)[1]}} mr-1 progress_indicator">{{TimeLine.duedate_indicator(task.time_due)[0]}}</small>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="row rounded-top border border-bottom-0 border-secondary timeline_task_name pl-1 pb-1 ml-1 mr-1" style="background-color:{{task.strategy.color}}">
                                <a href="{{url_for('iplan.show_menu', id_task=task.id, state='off') }}" class="show_menu_links">{{task.name}}</a>

                            </div>
                            <!-- Buttons -->
                            <div class="row rounded-bottom border border-top-0 border-secondary timeline_task_buttons mb-1 ml-1 mr-1" style="background-color:{{task.strategy.color}}">
                                {% if task.timer_start %}
                                    <a href="{{url_for('iplan.task_timer_start', id_task=task.id) }}" class="badge badge-light">Reset</a>
                                    <a href="{{url_for('iplan.task_timer_end', id_task=task.id) }}" class="badge badge-danger">Stop</a>
                                {% else %}
                                    <a href="{{url_for('iplan.task_timer_start', id_task=task.id) }}" class="badge badge-light">Start</a>
                                    {% if task.time_completion %}
                                        <a href="{{url_for('iplan.task_restore', id_task=task.id)}}" class="badge badge-primary">Restore</a>
                                    {% else %}
                                        {% if task.frequency == 'OneTime' %}
                                            <a href="{{url_for('iplan.task_complete', id_task=task.id)}}" class="badge badge-success">Done</a>
                                        {% else %}
                                            <a href="{{url_for('iplan.task_complete', id_task=task.id)}}" class="badge badge-success">Done+</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif%}
                                {% if task.timer_start %}
                                    <a href="#" class="badge badge-warning">{{string_from_duration(now - task.timer_start)}}</a>
                                {% endif %}
                                <a href="#" class="badge badge-info">{{string_from_duration(task.duration_real)}}</a>
                                <a href="#" class="badge badge-light">{{string_from_duration(task.duration_plan)}}</a>
                                <a href="{{url_for('iplan.task_delete', id_task=task.id) }}" class="badge badge-dark">Del</a>
                                <a href="#" data-toggle="tooltip" class="badge badge-info" data-html="true" title="{{task}}">i</a>
                                <a href="{{url_for('iplan.task_update', id_task=task.id) }}" class="badge badge-secondary ml-auto">Edit</a>
                                <a href="{{url_for('iplan.task_move', id_task=task.id, direction='top')}}" class="badge badge-secondary">top</a>
                                <a href="{{url_for('iplan.task_move', id_task=task.id, direction='up')}}" class="badge badge-secondary">up</a>
                                <a href="{{url_for('iplan.task_move', id_task=task.id, direction='down')}}" class="badge badge-secondary">dn</a>
                                <a href="{{url_for('iplan.task_move', id_task=task.id, direction='bottom')}}" class="badge badge-secondary">bot</a>
                                <a href="{{url_for('iplan.task_move_timeline', id_task=task.id, direction='previous') }}" class="badge badge-secondary"><</a>
                                <a href="{{url_for('iplan.task_move_timeline', id_task=task.id, direction='next') }}" class="badge badge-secondary">></a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
