body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

.content-section {
  background: #ffffff;
  padding: 5px 5px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 10px;
}

.art_border_rad{
    border-radius: 15px;
    padding-left: 15px;
    margin: 3px;
}

.art_table{
    margin: 0px;
    font-size: 0.7rem;
}

.timeline_header{
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
}

.timeline_task_name {
    font-size: 12px;
    font-weight: bold;

}

.timeline_task_buttons {
    font-size: 14px;
}

.timeline_icons {
    color: #333b47;
}
